body {
  background: linear-gradient(to right, #000000, #1a1a1a, #000000);
}

.carousel-wrapper {
  height: 100%;
  position: relative;
  max-width: 100%;

  .carousel-list {
    display: flex;
    width: 100%;
    
    div {
      flex: 0 0 auto;
    }
  }
}
